.background1 {
    width: 100%;
    height: 100vh;
    background-image: url(https://hungmai0110.github.io/my_project_Js/public/img/banner.jpg);
    background-size: cover;
    background-position: center;
    max-height: 600px;
    position: relative;
  }
  .btn_banner {
    color: #333;
      position: absolute;
      top: 70%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-family: 'Roboto', sans-serif;
      text-align: center;
      padding: 5px 20px;
      border: none;
      font-weight: 500;
      font-size: 18px;
      border-radius: 8px;
      
  
  }

  .btn_banner:hover {
    background-color: #333;
    color: #fff;
  }
