@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Kodchasan:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');




.path_container {
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    align-items: center;
    padding: 10px 0;
   
}
.background_color {
    background-color: rgba(220, 220, 220, 0.3);
}
.breadcump_home {
    text-decoration: none;
    color: #333;

}
.breadcump_home:hover {
    color: #333;
}
.icon_breadcump {
    font-weight: 600;
    font-size: 18px;
    width: 28px;
}
.img {
    width: 100%;
    padding: 30px;
}
.mtT80 {
    font-family: 'Roboto', sans-serif;
}
.name {
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    font-weight: 500;
}
.status {
    font-size: 16px;
    color: #282727;
}
.price_sale {
    color: #dc3545;
    font-size: 24px;
    line-height: 1.2;
    font-weight: 500;
    
}
.price {
    text-decoration: line-through;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 300;
    color: #282727;
    padding: 8px 16px;


}
.sale {
    text-align: center;
    line-height: 40px;
    background-color: #ddba76;
    border-radius: 50%;
    width: 40px;
    color: #fff;
    
    
}
.price_save {
    font-size: 16px;
    line-height: 1.2;
}
.magrin {
    display: flex;
    align-items: center;

}
.icon_gift {
    color: #dc3545;
    font-size: 20px;
    
}
.text_sale {
    color: #dc3545;
    font-size: 16px;
    font-weight: 400;
    padding-top: 20px;
    
}
.swaper {
    border: 1px dashed #dc143c;
    border-radius: 4px;
    padding: 12px;
    
}
.button_add {
    cursor: pointer;
    padding: 8px 12px;
    border: 1px solid #dee2e6;

}
.button_add:hover {
    color: #fff;
    background-color: #ddba76;
}
.count {
    display: flex;
}
.count_product {
    padding: 8px 16px;
    border: 1px solid #dee2e6;
    color: #282727;
    font-weight: 500;
    cursor: pointer;
}

.card {
    position: relative;
    margin: 8px;
    overflow: hidden;
    cursor: pointer;
}

.card .img_sale:hover {
    -webkit-transform: scale(1.1);
    transform: scale(0.9);
    -webkit-transition: all 0.8s;
    transition: all 0.8s;
    opacity:1;
}
.btn_sale:hover {
    background-color: #333;
    color: #fff;
}

.name_products_sale {
    font-size: 16px;
    text-align: center;
    height: 38px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    margin-bottom: 8px;
}
.price {
    color: #ddba76;
    margin-bottom: 8px;
    text-decoration: line-through;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.price_sale {
    color: #ddba76;
    margin-bottom: 8px;
    
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}
.btn_sale {
    background: none;
    border: 1px solid #000000;
    border-radius: 4px;
    padding: 5px 10px;
    
    text-align: center;
}
.title_product_more {
    font-family: 'Roboto', sans-serif;
    color: #ddba76;
    text-align: center;
    font-size: 30px;
    padding-bottom: 30px;
    padding-top: 30px;
}
